@model GRMApp.Models.Item

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create Items</h2>
			<hr />
		</div>
		<div class="row g-3">
			<div class="col-4">
					<label asp-for="Name"></label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="col-12">
				<button type="submit" class="btn btn-primary" style="width:30%">Create</button>
				<a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:30%">
					Back to List
				</a>
			</div>
		</div>
			
	</div>
</form>